In [2]:
feet_per_mile = 5280
earth_radius = 3959
earth_diameter = earth_radius * 2
earth_diameter_feet = earth_diameter * feet_per_mile
print ( "Earth Diameter in Feet {}".format(earth_diameter_feet))

Earth Diameter in Feet 41807040

In [3]:
sun_diameter_miles = 865370
sun_diameter_feet = sun_diameter_miles * feet_per_mile
print ( "Sun Diameter in Feet {}".format(sun_diameter_feet))

Sun Diameter in Feet 4569153600

In [4]:
tennis_ball_inches = 2.75
tennis_ball_feet = tennis_ball_inches / 12
print ( "Tennis Ball Diameter in Feet {}".format(tennis_ball_feet))

Tennis Ball Diameter in Feet 0.22916666666666666

Calculate the conversion factor from feet to tennis ball for sun size.

In [5]:
tb_conv = sun_diameter_feet / tennis_ball_feet
print ( "Conversion to TB units {}".format(tb_conv))

Conversion to TB units 19938124800.0

Calculate Diameter of Earth in Tennis Ball Units

In [6]:
tb_earth_feet = earth_diameter_feet / tb_conv
tb_earth_inches = tb_earth_feet * 12
print ( "Earth in TB Units (feet) = {}, (inches) = {}, thousands of an inch = {}".format(tb_earth_feet,
                                                                                         tb_earth_inches,
                                                                                         tb_earth_inches*1000))

Earth in TB Units (feet) = 0.0020968391169865685, (inches) = 0.025162069403838822, thousands of an inch = 25.16206940383882

Calculate the Diameter of the Moon

In [16]:
moon_diameter_miles = 2159.1
moon_diameter_feet = moon_diameter_miles * feet_per_mile
print ( "Diameter of Moon in Feet {}".format(moon_diameter_feet))

Diameter of Moon in Feet 11400048.0

In [17]:
tb_moon_diameter_feet = moon_diameter_feet / tb_conv
tb_moon_diameter_inches = tb_moon_diameter_feet * 12
print ( "Moon in TB Units (feet) = {}, (inches) = {}, thousands of an inch = {}".format(tb_moon_diameter_feet,
                                                                                        tb_moon_diameter_inches,
                                                                                        tb_moon_diameter_inches*1000))

Moon in TB Units (feet) = 0.0005717713232490149, (inches) = 0.006861255878988179, thousands of an inch = 6.861255878988179

Calculate the average orbital distance of the moon from the earth

In [18]:
earth_to_moon_avg_miles = 238900
earth_to_moon_avg_feet = earth_to_moon_avg_miles * feet_per_mile
tb_earth_to_moon_avg_feet = earth_to_moon_avg_feet / tb_conv
tb_earth_to_moon_avg_inches = tb_earth_to_moon_avg_feet * 12
print ( "Earth to Moon in TB Units (feet) = {}, (inches) = {}".format(tb_earth_to_moon_avg_feet,
                                                                     tb_earth_to_moon_avg_inches))

Earth to Moon in TB Units (feet) = 0.06326532774034999, (inches) = 0.7591839328841998

In [11]:
sun_to_earth_miles = 149600000 * 0.62137119
sun_to_earth_feet = sun_to_earth_miles * feet_per_mile
tb_sun_to_earth_feet = sun_to_earth_feet / tb_conv
print ( "Sun to Earth in Tb Units (feet) = {}".format(tb_sun_to_earth_feet))

Sun to Earth in Tb Units (feet) = 24.616840924113383

In [12]:
sun_to_mars_km = 227900000
sun_to_mars_miles = sun_to_mars_km * 0.62137119
print ( "Miles from sun to mars = {}".format(sun_to_mars_miles) )
sun_to_mars_feet = sun_to_mars_miles * feet_per_mile
tb_sun_to_mars = sun_to_mars_feet / tb_conv
print ( "Sun to Mars in Tb Units(feet) = {}".format(tb_sun_to_mars)
      )

Miles from sun to mars = 141610494.201
Sun to Mars in Tb Units(feet) = 37.50119015110589

In [13]:
sun_to_jupiter_km = 778600000
sun_to_jupiter_miles = sun_to_jupiter_km * 0.62137119
sun_to_jupiter_feet = sun_to_jupiter_miles * feet_per_mile
tb_sun_to_jupiter = sun_to_jupiter_feet / tb_conv
print ( "Sun to Jupiter in Tb Units(feet) = {}".format(tb_sun_to_jupiter))

Sun to Jupiter in Tb Units(feet) = 128.11946753686286

In [15]:
sun_to_ortt_cloud_miles = 4700000000000
sun_to_ortt_cloud_feet = sun_to_ortt_cloud_miles * feet_per_mile
tb_sun_to_ortt_cloud = sun_to_ortt_cloud_feet / tb_conv
print ( "Sun to Ortt Cloud in Tb Units(feet) = {}, in Miles = {}".format(tb_sun_to_ortt_cloud, tb_sun_to_ortt_cloud/feet_per_mile))

Sun to Ortt Cloud in Tb Units(feet) = 1244650.6503961696, in Miles = 235.7292898477594